<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Blog</title>
</head>
<body>
  <h4>Posts</h4>
  {% if posts | length == 0 %}
  <p>No posts available, stay tuned!</p>
  {% else %}
    <ul>
      {% for post in posts %}
      <p>{{ post.published_at }} | <a href="/blog/{{ post.slug }}">{{ post.title }}</a></p>
      <br>
      {% endfor %}
    </ul>
  {% endif %}
</body>
</html>
