{% extends "base.html.tera" %}
{% block title %}Blog{% endblock title %}
{% block head %}
  {{ super() }}
{% endblock head %}
{% block content %}
  <h4>Posts</h4>
  {% if posts | length == 0 %}
  <p>No posts available, stay tuned!</p>
  {% else %}
    <ul>
      {% for post in posts %}
      <p>{{ post.published_at }} | <a href="/blog/{{ post.slug }}">{{ post.title }}</a></p>
      <br>
      {% endfor %}
    </ul>
  {% endif %}
{% endblock content %}
