{% extends "base.html.tera" %}
{% block title %}{{ reason }}{% endblock title %}
{% block head %}
  {{ super() }}
{% endblock head %}
{% block content %}
  <h1>{{ status_code }}</h1>
  <p>{{ message }}</p>
{% endblock content %}
