{% extends "base.html.tera" %}
{% block title %}{{ post.title }}{% endblock title %}
{% block head %}
  {{ super() }}
{% endblock head %}
{% block content %}
  <h1>{{ post.title }}</h1>
  <p class="subtitle">{{ post.published_at }}</p>
  <br>
  <p>{{ post.body }}</p>
{% endblock content %}
