{% extends "base.html.tera" %}
{% block title %}Write{% endblock title %}
{% block head %}
  {{ super() }}
{% endblock head %}
{% block content %}
  <h4>Write a new post</h4>
  <form action="/write" method="post">
    <input type="text" name="title"/>
    <label for="published">Publish: </label>
    <input type="checkbox" id="published" name="published" checked/>
    <input type="text" name="body"/>
    <input type="submit" value="Submit">
  </form>
{% endblock content %}
